@import url(https://fonts.googleapis.com/css?family=Raleway:400,700);

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 17px;
  color: #212121;
  line-height: 1.4;
  background-color: black;
}

.container {
  width: 1250px;
  margin: 30px auto 0;
}
.container h1 {
  font-size: 65px;
  text-align: center;
  color: white;
  font-weight: bold;
  font-family: "Raleway", Arial, Helvetica, sans-serif;
}

.container h3 {
	font-size: 30px;
	text-align: center;
	margin-bottom: -30px;
	color: white;
	
}

.container .subheader {
  font-size: 20px;
  text-align: center;
  color: white;
  margin-bottom: 20px;
  font-style: italic;
}


.container p {
	font-size: 15px;
	text-align: center;
	color: White;
	
}

.link {
  margin-top: 10px;
  color: #fff;
  text-align: center;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}