body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 17px;
  color: #212121;
  line-height: 1.4;
  background-color: black;
}

.container {
  width: 1250px;
  margin: 30px auto 0;
}
.container h1 {
  font-size: 65px;
  text-align: center;
  color: white;
}

.container h3 {
	font-size: 30px;
	text-align: center;
	margin-bottom: -30px;
	color: white;
	
}

.container .subheader {
  font-size: 20px;
  text-align: center;
  color: white;
  margin-bottom: 20px;
  font-style: italic;
}


.container p {
	font-size: 15px;
	text-align: center;
	color: White;
	
}

.slider-containers {
  width: 100%;
  margin-top: 20px;
}

.slider-container {
  margin-bottom: 60px;
}
.slider-container h2 {
  text-align: center;
}

.flexbox-slider {
  margin-top: 50px;
}


.flexbox-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 500px;
  visibility: hidden;
}
.flexbox-slider .flexbox-slide {
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  width: 20%;
  height: 100%;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  visibility: visible;
}
.flexbox-slider .flexbox-slide:after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.6);
  z-index: 2;
  opacity: 0;
}
.flexbox-slider .flexbox-slide img {
  position: absolute;
  top: 50%;
  left: 50%;
  height: auto;
  width: auto;
  min-width: 100%;
  min-height: 100%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 1;
}
.flexbox-slider .flexbox-slide .text-block {
  position: absolute;
  left: 30px;
  bottom: 30px;
  max-width: 400px;
  padding: 20px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  z-index: 4;
  visibility: hidden;
}
.flexbox-slider .flexbox-slide .text-block h3 {
  font-size: 20px;
  font-weight: 700;
}
.flexbox-slider:hover .flexbox-slide:hover {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 80%;
}

.flexbox-slider.flexbox-slider-4 .flexbox-slide:after {
  top: -100%;
}
.flexbox-slider.flexbox-slider-4 .flexbox-slide .text-block {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.flexbox-slider.flexbox-slider-4:hover .flexbox-slide:not(:hover):after {
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  top: 0;
  opacity: 1;
  visibility: visible;
}
.flexbox-slider.flexbox-slider-4:hover .flexbox-slide:hover .text-block {
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
  visibility: visible;
}


.footer {
  display: block;
  height: 50px;
  padding-top: 5px;
  background-color: #000;
}

.text-block-4 {
  margin-top: 8px;
  color: #fff;
  text-align: center;
}

.text-block-4.navlinks {
  margin-right: 16px;
  margin-left: 16px;
}

.footer-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
  clear: none;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.text-block-3 {
  color: #fff;
  font-size: 32px;
  line-height: 34px;
  font-weight: 500;
  text-align: center;
}

.sociallink {
  margin-right: 10px;
  margin-left: 10px;
}

.footer-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 33%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.footer-item.pages {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer-item.links {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.link {
  margin-top: 10px;
  color: #fff;
  text-align: center;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}


